<?xml version="1.0"?>
<launch>
    <!-- NavStack + Map Enrichment Module (MEM) + rviz -->

    <!-- It changes a whole package Logger level  -->
    <!--<env name="ROSCONSOLE_CONFIG_FILE" value="$(find simulation)/config/custom_rosconsole.conf"/>-->

    <!-- Map server -->
    <arg name="map_file" default="$(find simulation)/maps/reference_map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- Map enrichment -->
    <node name="map_enrichment" pkg="simulation" type="map_enrichment_node" output="screen"/>

    <!-- Localization -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <remap from="scan" to="/scan"/>
        <remap from="map" to="/map"/>
        <param name="odom_frame_id" value="odom"/>
        <param name="odom_model_type" value="diff-corrected"/>
        <param name="base_frame_id" value="base_footprint"/>
        <param name="update_min_d" value="0.1"/>
        <param name="update_min_a" value="0.2"/>
        <param name="min_particles" value="100"/>
        <param name="max_particles" value="300"/>
        <param name="transform_tolerance" value="0.5"/>
        <param name="use_map_topic" value="true"/>
    </node>

    <!-- Move base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find rosbot_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find rosbot_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find rosbot_navigation)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find rosbot_navigation)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find rosbot_navigation)/config/move_base_params.yaml" command="load" />
        <rosparam file="$(find rosbot_navigation)/config/local_planner.yaml" command="load" />

        <remap from="cmd_vel" to="cmd_vel"/>
        <remap from="odom" to="odom"/>
        <remap from="scan" to="/scan"/>
        <remap from="map" to="/simulation/augmented_map"/>
    </node>

    <!-- Show in Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simulation)/rviz/sim_navigation.rviz" required="true" output='log'/>

</launch>