<launch>

    <arg name="model" default="$(find turtlebot3_description)/urdf/turtlebot3_waffle.urdf.xacro"/>
    <arg name="rvizconfig" default="$(find simulation)/rviz/waffle_model.rviz" />

    <param name="turtlebot3_description" command="$(find xacro)/xacro $(arg model)" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>